<footer class="footer" id="footer">
  <div class="container-footer">
    <div class="part-two-footer">
      <p class="text-part-two">
        <span class="text-part-two-orange">Chocolate</span> a delicious cure for
        a bad day
      </p>
      <div class="contact-social-link-footer">
        <address class="contact link">
          <p class="text-contact-footer">Contact us</p>
          <ul class="contact-list-footer list">
            <li class="address-item-footer">
              <a href="tel:+380684439426" class="contacts-link-footer link"
                >+380 (68) 443-94-26</a
              >
            </li>
            <li class="address-item-footer">
              <a
                href="mailto:simplychoc@gmail.com"
                class="contacts-link-footer link"
                >simplychoc@gmail.com</a
              >
            </li>
          </ul>
        </address>
        <div class="social-footer-link">
          <ul class="social-list-footer list">
            <li class="social-list-item-footer">
              <a
                href="https://www.instagram.com/"
                target="_blank"
                rel="noreferrer noopener"
                class="social-link-footer"
              >
                <svg
                  class="social-list-icon"
                  aria-label="icon instagram"
                  width="24"
                  height="24"
                >
                  <use href="/img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>

            <li class="social-list-item-footer">
              <a
                href="https://twitter.com/"
                target="_blank"
                rel="noreferrer noopener"
                class="social-link-footer"
              >
                <svg
                  class="social-list-icon"
                  aria-label="icon twitter"
                  width="24"
                  height="24"
                >
                  <use href="/img/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <hr />

    <div>
      <ul class="site-nav-list-footer link list">
        <li class="menu-item-footer">
          <a href="#home" class="link menu-item-link current">Home</a>
        </li>
        <li class="menu-item-footer">
          <a href="#made" class="link menu-item-link">How it’s made?</a>
        </li>
        <li class="menu-item-footer">
          <a href="#our-products" class="link menu-item-link">Our products</a>
        </li>
        <li class="menu-item-footer">
          <a href="#top-sellers" class="link menu-item-link">Top sellers</a>
        </li>
        <li class="menu-item-footer">
          <a href="#loved" class="link menu-item-link">Chocolate is loved</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
