<div class="container header-container">
    <div id="header" class="header-logo-wraper">
        <a class="header-logo" href="">
            <p class="logo-text"><span class="logo-italic">simply</span> chocolate</p>
            <svg class="logo-svg">
                <use href="/img/icons.svg#icon-logo"></use>
            </svg>
        </a>
    </div>

    <nav class="header-nav">
        <ul class="header-nav-list">
            <li class="header-nav-menu-link"><a href="#home">Home</a></li>
            <li class="header-nav-menu-link"><a href="#made">How it’s made?</a></li>
            <li class="header-nav-menu-link"><a href="#our-products">Our products</a></li>
            <li class="header-nav-menu-link"><a href="#top-sellers">Top sellers</a></li>
            <li class="header-nav-menu-link"><a href="#loved">Chocolate is loved</a></li>
        </ul>
    </nav>
    <div class="header-social-wraper">
        <ul class="header-social-list">
            <li class="header-social-box">
                <a class="header-social-link" href="">
                    <svg class="header-social-svg">
                        <use href="/img/icons.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="header-social-box">
                <a class="header-social-link" href="">
                    <svg class="header-social-svg" aria-label="твітер в хедері">
                        <use href="/img/icons.svg#icon-twitter"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
    <button class="header-menu-button js-open-menu" type="button">
        <svg class="burger-svg">
            <use href="/img/icons.svg#icon-burger-tab"></use>
        </svg>
    </button>
</div>

<div class="backdrop-header js-menu-container is-hidden">
    <div class="mobile-menu-wraper">
        <button type="button" class="close-menu-btn js-close-menu">
            <svg class="close-menu-svg">
                <use href="/img/icons.svg#icon-close-menu"></use>
            </svg>
        </button>
        <div>
            <ul class="header-nav-menu-list">
                <li class="header-nav-menu-link"><a href="#home">Home</a></li>
                <li class="header-nav-menu-link"><a href="#made">How it’s made?</a></li>
                <li class="header-nav-menu-link"><a href="#our-products">Our products</a></li>
                <li class="header-nav-menu-link"><a href="#top-sellers">Top sellers</a></li>
                <li class="header-nav-menu-link"><a href="#loved">Chocolate is loved</a></li>
            </ul>
        </div>
        <div>
            <ul class="header-social-list">
                <li class="header-social-box">
                    <a class="header-social-link" href="">
                        <svg class="header-social-svg">
                            <use href="/img/icons.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="header-social-box">
                    <a class="header-social-link" href="">
                        <svg class="header-social-svg" aria-label="твітер в меню">
                            <use href="/img/icons.svg#icon-twitter"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

</div>