<div class="container header-container">
    <div class="header-logo-wraper">
        <a class="header-logo" href="">
            <p class="logo-text"><span class="logo-italic">SIMPLY</span> CHOCOLATE</p>
            <svg class="logo-svg" width="24" height="24">
                <use href="/img/icons.svg#"></use>
            </svg>
        </a>
    </div>
    <nav class="header-nav">
        <ul class="header-nav-list">
            <li class="header-nav-link"><a href="">Home</a></li>
            <li class="header-nav-link"><a href="">How it’s made?</a></li>
            <li class="header-nav-link"><a href="">Our products</a></li>
            <li class="header-nav-link"><a href="">Top sellers</a></li>
            <li class="header-nav-link"><a href="">Chocolate is loved</a></li>
        </ul>
    </nav>
    <div class="header-social-wraper">
        <ul class="header-social-list">
            <li class="header-social-box">
                <a class="header-social-link" href="">
                    <svg class="header-social-svg" width="24" height="24">
                        <use></use>
                    </svg>
                </a>
            </li>
            <li class="header-social-box">
                <a class="header-social-link" href="">
                    <svg class="header-social-svg" width="24" height="24">
                        <use></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
    <button class="header-menu-button js-open-menu" type="button"></button>
</div>

<div class="backdrop js-menu-container is-hidden">
    <div class="mobile-menu-wraper">
        <button type="button" class="close-menu-btn js-close-menu"></button>
        <div>
            <ul class="header-nav-menu-list">
                <li class="header-nav-menu-link"><a href="">Home</a></li>
                <li class="header-nav-menu-link"><a href="">How it’s made?</a></li>
                <li class="header-nav-menu-link"><a href="">Our products</a></li>
                <li class="header-nav-menu-link"><a href="">Top sellers</a></li>
                <li class="header-nav-menu-link"><a href="">Chocolate is loved</a></li>
            </ul>
        </div>
        <div>
            <ul class="header-social-list">
                <li class="header-social-box">
                    <a class="header-social-link" href="">
                        <svg class="header-social-svg" width="24" height="24">
                            <use></use>
                        </svg>
                    </a>
                </li>
                <li class="header-social-box">
                    <a class="header-social-link" href="">
                        <svg class="header-social-svg" width="24" height="24">
                            <use></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>