<section class="hero">
  <div class="hero-container">
    <div class="hero-title">
      <h1 class="hero-main-title visually-hidden">Hero</h1>
      <h2 class="hero-second-title">
        Treat yourself or a loved one to our finest ingredients for a moment of
        pure delight!
      </h2>
    </div>
    <div class="hero-buttons-section">
      <div class="hero-buttons">
        <button
          type="button"
          class="hero-main-button js-open-modal"
          data-modal="3"
        >
          Buy now
        </button>
        <button
          type="button"
          onclick="location.href = '#made'"
          class="hero-second-button"
        >
          How it’s made
        </button>
      </div>
      <div class="hero-section-scroll">
        <p class="hero-description">scroll down</p>
        <button
          type="button"
          onclick="location.href ='#footer'"
          class="hero-button-scroll"
        >
          <svg class="hero-icon-mobile" height="16" width="16">
            <use href="/img/icons.svg#icon-angle"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
