<section id="made" class="how-it-is-made-section">
  <h2 class="how-it-is-made-title">
    How it's <span class="how-it-is-made-title-item">made?</span>
  </h2>
  <div class="how-it-is-made-container">
    <!-- ВИДЕО -->
    <iframe
      width="600"
      height="400"
      src="https://www.youtube.com/embed/DISjdfkSjc8"
      title="YouTube video player"
      frameborder="0"
      class="how-it-is-made-iframe-video"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>

    <!-- КОНЕЦ ВИДЕО -->

    <!-- Картинки вместо видео -->

    <!-- <div class="how-it-is-made-video">
      <picture>
        <source
          srcset="
            ./img/how-its-made/made-desktop@1x.jpg 1x,
            ./img/how-its-made/made-desktop@2x.jpg 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./img/how-its-made/made-tab@1x.jpg 1x,
            ./img/how-its-made/made-tab@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/how-its-made/made-mob@1x.jpg 1x,
            ./img/how-its-made/made-mob@2x.jpg 2x
          "
          media="(min-width: 320px)"
        />
        <img
          class="how-it-is-made-img"
          src="./img/how-its-made/made-desktop@1x.jpg"
          alt="Video about how our products are made"
        />
      </picture> -->

    <!-- КНОПКА НА КАРТИНКЕ -->

    <!-- <button type="button" class="how-it-is-made-play-btn button">
        <svg class="how-it-is-made-play-btn-icon" width="20" height="21">
          <use href="./img/icons.svg#icon-play-btn"></use>
        </svg>
      </button> -->
    <!-- </div> -->
    <div class="how-it-is-made-list-container">
      <h3 class="how-it-is-made-subordinate-title">
        Try our chocolates today and discover the perfect balance of flavor
      </h3>
      <ul class="how-it-is-made-list">
        <li class="how-it-is-made-list-item">
          Heat the milk in a saucepan without bringing it to a boil. Add sugar
          and cocoa powder.
        </li>
        <li class="how-it-is-made-list-item">
          At the same time, prepare a water bath. Melt the butter on it.
        </li>
        <li class="how-it-is-made-list-item">
          "Mix" the milk mixture and already liquid butter. Mix thoroughly with
          a silicone spatula so that the mass becomes uniform and silky.
        </li>
        <li class="how-it-is-made-list-item">
          Heat the mixture over low heat, letting it barely boil.
        </li>
        <li class="how-it-is-made-list-item how-it-is-made-list-item-bottom">
          Pour the chocolate into special containers (can be replaced with ice
          molds). Allow to cool and harden.
        </li>
      </ul>
    </div>
  </div>
</section>
