<section id="made" class="how-it-is-made-section">
  <h2 class="how-it-is-made-title">
    How it's <span class="how-it-is-made-title-item">made?</span>
  </h2>
  <div class="how-it-is-made-container">

    <!-- ВИДЕО -->

    
    <div class="how-it-is-made-video"></div>


    <!-- КОНЕЦ ВИДЕО -->

    <div class="how-it-is-made-list-container">
      <h3 class="how-it-is-made-subordinate-title">
        Try our chocolates today and discover the perfect balance of flavor
      </h3>
      <ul class="how-it-is-made-list">
        <li class="how-it-is-made-list-item">
          Heat the milk in a saucepan without bringing it to a boil. Add sugar
          and cocoa powder.
        </li>
        <li class="how-it-is-made-list-item">
          At the same time, prepare a water bath. Melt the butter on it.
        </li>
        <li class="how-it-is-made-list-item">
          "Mix" the milk mixture and already liquid butter. Mix thoroughly with
          a silicone spatula so that the mass becomes uniform and silky.
        </li>
        <li class="how-it-is-made-list-item">
          Heat the mixture over low heat, letting it barely boil.
        </li>
        <li class="how-it-is-made-list-item how-it-is-made-list-item-bottom">
          Pour the chocolate into special containers (can be replaced with ice
          molds). Allow to cool and harden.
        </li>
      </ul>
    </div>
  </div>
  <script src="../js/video.js"></script>
</section>
