<section id="our-products" class="our-products">
  <div class="container-our-products">
    <h2 class="our-products-title">
      our <span class="our-products-title-span">products</span>
    </h2>

    <div class="swiper swiper-style">
      <ul class="swiper-wrapper swiper-gap-products swiper-style">
        <li class="swiper-slide our-products-slide-item our-products-item">
          <div class="our-products-wrapper">
            <img
              class="list-img"
              src="./img/our-products/choc01@1x.jpg"
              srcset="
                ./img/our-products/choc01@1x.jpg 1x,
                ./img/our-products/choc01@2x.jpg 2x
              "
              alt="choc01"
              width="230"
              height="201"
            />
            <div class="products-list-content">
              <h3 class="products-list-title">orange</h3>
              <p class="products-list-text">Dark chocolate</p>
              <button class="products-list-price-btn" type="button">
                45 UAH
              </button>
            </div>
          </div>
        </li>
        <li class="swiper-slide our-products-slide-item our-products-item">
          <div class="our-products-wrapper">
            <img
              class="list-img"
              src="./img/our-products/choc02@1x.jpg"
              srcset="
                ./img/our-products/choc02@1x.jpg 1x,
                ./img/our-products/choc02@2x.jpg 2x
              "
              alt="choc02"
              width="230"
              height="201"
            />
            <div class="products-list-content">
              <h3 class="products-list-title">APPLE&CRANBERRY</h3>
              <p class="products-list-text">Milk chocolate</p>
              <button class="products-list-price-btn" type="button">
                50 UAH
              </button>
            </div>
          </div>
        </li>
        <li class="swiper-slide our-products-slide-item our-products-item">
          <div class="our-products-wrapper">
            <img
              class="list-img"
              src="./img/our-products/choc03@1x.jpg"
              srcset="
                ./img/our-products/choc03@1x.jpg 1x,
                ./img/our-products/choc03@2x.jpg 2x
              "
              alt="choc03"
              width="230"
              height="201"
            />
            <div class="products-list-content">
              <h3 class="products-list-title">lime&sea salt</h3>
              <p class="products-list-text">Dark chocolate</p>
              <button class="products-list-price-btn" type="button">
                66 UAH
              </button>
            </div>
          </div>
        </li>
        <li class="swiper-slide our-products-slide-item our-products-item">
          <div class="our-products-wrapper">
            <img
              class="list-img"
              src="./img/our-products/choc04@1x.jpg"
              srcset="
                ./img/our-products/choc04@1x.jpg 1x,
                ./img/our-products/choc04@2x.jpg 2x
              "
              alt="choc04"
              width="230"
              height="201"
            />
            <div class="products-list-content">
              <h3 class="products-list-title">pineapple</h3>
              <p class="products-list-text">Dark chocolate</p>
              <button class="products-list-price-btn" type="button">
                54 UAH
              </button>
            </div>
          </div>
        </li>
        <li class="swiper-slide our-products-slide-item our-products-item">
          <div class="our-products-wrapper">
            <img
              class="list-img"
              src="./img/our-products/choc05@1x.jpg"
              srcset="
                ./img/our-products/choc05@1x.jpg 1x,
                ./img/our-products/choc05@2x.jpg 2x
              "
              alt="choc05"
              width="230"
              height="201"
            />
            <div class="products-list-content">
              <h3 class="products-list-title">Classic</h3>
              <p class="products-list-text">Milk chocolate</p>
              <button class="products-list-price-btn" type="button">
                45 UAH
              </button>
            </div>
          </div>
        </li>
        <li class="swiper-slide our-products-slide-item our-products-item">
          <div class="our-products-wrapper">
            <img
              class="list-img"
              src="./img/our-products/choc06@1x.jpg"
              srcset="
                ./img/our-products/choc06@1x.jpg 1x,
                ./img/our-products/choc06@2x.jpg 2x
              "
              alt="choc06"
              width="230"
              height="201"
            />
            <div class="products-list-content">
              <h3 class="products-list-title">honey</h3>
              <p class="products-list-text">Milk chocolate</p>
              <button class="products-list-price-btn" type="button">
                50 UAH
              </button>
            </div>
          </div>
        </li>
        <li class="swiper-slide our-products-slide-item our-products-item">
          <div class="our-products-wrapper">
            <img
              class="list-img"
              src="./img/our-products/choc07@1x.jpg"
              srcset="
                ./img/our-products/choc07@1x.jpg 1x,
                ./img/our-products/choc07@2x.jpg 2x
              "
              alt="choc07"
              width="230"
              height="201"
            />
            <div class="products-list-content">
              <h3 class="products-list-title">Roasted fruits</h3>
              <p class="products-list-text">Dark chocolate</p>
              <button class="products-list-price-btn" type="button">
                66 UAH
              </button>
            </div>
          </div>
        </li>
        <li class="swiper-slide our-products-slide-item our-products-item">
          <div class="our-products-wrapper">
            <img
              class="list-img"
              src="./img/our-products/choc08@1x.jpg"
              srcset="
                ./img/our-products/choc08@1x.jpg 1x,
                ./img/our-products/choc08@2x.jpg 2x
              "
              alt="choc01"
              width="230"
              height="201"
            />
            <div class="products-list-content">
              <h3 class="products-list-title">Classic</h3>
              <p class="products-list-text">White chocolate</p>
              <button class="products-list-price-btn" type="button">
                54 UAH
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <!-- <div class="swiper-pagination container-our-products">
      <span class="swiper-pagination-bullet"></span
      ><span class="swiper-pagination-bullet"></span
      ><span class="swiper-pagination-bullet"></span
      ><span class="swiper-pagination-bullet"></span
      ><span class="swiper-pagination-bullet"></span
      ><span class="swiper-pagination-bullet"></span
      ><span class="swiper-pagination-bullet"></span
      ><span class="swiper-pagination-bullet"></span>
    </div> -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</section>
