<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
</style>

<section>

    <div class="reviews_content_container ">
        <h2 class="reviews_title ">chocolate <span class="second_part_rewiews_title">is loved</span></h2>
        <!-- slieder -->
        <div class="swiper mySwiper">
            <div class="reviews_slieder_container swiper-wrapper">
                <!-- first card -->
                <div class="reviews_card swiper-slide">
                    <div class="reviews_image">
                        <img srcset="../img/review/victoria@1x.jpg 1x, ../img/review/victoria@2x.jpg 2x"
                            src="../img/review/victoria@1x.jpg" alt="Victoria Dobrzhanska photos" width="80"
                            height="80">
                    </div>
                    <div class="reviews_description">
                        <span class="reviewer_name">Victoria Dobrzhanska</span>
                        <span class="personal-review">I love this chocolate bar. Perfect combination of light crispy
                            wafer,
                            covered in a thin layer chocolate.</span>
                    </div>
                </div>

                <!-- second card -->

                <div class="reviews_card  mobile-invisible ">
                    <div class="reviews_image">
                        <img class="reviews_image_for_element"
                            srcset="../img/review/nazar@1x.jpg 1x, ../img/review/nazar@2x.jpg 2x"
                            src="../img/review/nazar@1x.jpg" alt="Victoria Dobrzhanska photos" width="80" height="80">
                    </div>
                    <div class="reviews_description">
                        <span class="reviewer_name">Nazar Babenko</span>
                        <span class="personal-review">This chocolate confection is a delight! A delight! The wafer is
                            light
                            and crisp, the hazelnut cream is smooth, and the
                            chocolate is good.</span>
                    </div>
                </div>

                <!-- third card -->
                <div class="reviews_card mobile-invisible tablet-invisible">
                    <div class="reviews_image">
                        <img srcset="../img/review/olena@1x.jpg 1x, ../img/review/olena@2x.jpg 2x"
                            src="../img/review/olena@1x.jpg" alt="Victoria Dobrzhanska photos" width="80" height="80">
                    </div>
                    <div class="reviews_description">
                        <span class="reviewer_name">Olena Kampusch</span>
                        <span class="personal-review">Chocolate is a family favourite treat. Love the delicious smooth
                            chocolate and the creaminess inside. The wafer is soft
                            but crunchy.</span>
                    </div>
                </div>
                <!-- four card -->
                <div class="reviews_card invisible">
                    <div class="reviews_image">
                        <img srcset="../img/review/natalia@1x.jpg 1x, ../img/review/natalia@2x.jpg 2x"
                            src="../img/review/natalia@1x.jpg" alt="Victoria Dobrzhanska photos" width="80" height="80">
                    </div>
                    <div class="reviews_description">
                        <span class="reviewer_name">Natalia Sus</span>
                        <span class="personal-review">The chocolate assortment was delicious. Both dark and milk
                            chocolate
                            pieces were smooth and just right on the sweetness
                            level.</span>
                    </div>
                </div>
                <!-- fifth card -->

                <div class="reviews_card invisible">
                    <div class="reviews_image">
                        <img srcset="../img/review/danilo@1x.jpg 1x, ../img/review/danilo@2x.jpg 2x"
                            src="../img/review/danilo@1x.jpg" alt="Victoria Dobrzhanska photos" width="80" height="80">
                    </div>
                    <div class="reviews_description">
                        <span class="reviewer_name">Danilo Nottingham</span>
                        <span class="personal-review">This is delicious. It so rich and flavorful you don’t need to use
                            as
                            many. I love topping an apple with almond butter
                            and these chips for a snack.</span>
                    </div>
                </div>
                <!-- sixth card -->
                <div class="reviews_card  invisible">
                    <div class="reviews_image">
                        <img srcset="../img/review/irina@1x.jpg 1x, ../img/review/irina@2x.jpg 2x"
                            src="../img/review/irina@1x.jpg" alt="Victoria Dobrzhanska photos" width="80" height="80">
                    </div>
                    <div class="reviews_description">
                        <span class="reviewer_name">Irina Tydnyuk</span>
                        <span class="personal-review">This is simply the best chocolate around, and I'm just thrilled to
                            support a local company! Best local chocolate - world
                            class</span>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <!-- false pagination -->

        <div class="slider_pagination">
            <img src="../img/review/offer_banner.jpg" alt="slide bar">
        </div>

        <!-- button -->
        <button type="button" class="leave_review_button">Leave a review</button>

    </div>




</section>