<section class="subscribe-section container-subscribe">
  <h2 class="subscribe-title">
    explore our new <br />
    chocolate first
  </h2>
  <p class="subscribe-text">
    From the velvety texture to the rich and complex flavor, our New Chocolate
    is a true indulgence that will leave you craving more. Made with only the
    finest ingredients and handcrafted with the utmost care, each piece is a
    work of art that is sure to please.
  </p>

  <button
    class="subscribe-button-open subscribe-button-mobile"
    data-modal-open
    type="submit"
  >
    Subscribe
  </button>
</section>

<!-- Modal -->

<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="modal-close-btn" data-modal-close>
      <svg
        class="modal-close-icon"
        aria-label="modal-close"
        width="24"
        height="24"
      >
        <use href="/img/icons.svg#icon-close-subscribe"></use>
      </svg>
    </button>
    <!-- img -->
    <div class="subscribe-list-img">
      <picture>
        <source
          srcset="
            /img/subscribe/subscribe-desktop/subscribe-chocolate@1x.jpg 1x,
            /img/subscribe/subscribe-desktop/subscribe-chocolate@2x.jpg 2x
          "
          media="(min-width: 1200px) "
        />

        <source
          srcset="
            /img/subscribe/subscribe-desktop/subscribe-chocolate@1x.jpg 1x,
            /img/subscribe/subscribe-desktop/subscribe-chocolate@2x.jpg 2x
          "
          media="(min-width: 768px) "
        />

        <source
          srcset="
            /img/subscribe/subscribe-mobile/subscribe-chocolate-mobile@1x.jpg 1x,
            /img/subscribe/subscribe-mobile/subscribe-chocolate-mobile@2x.jpg 2x
          "
          media="(min-width: 320px) "
        />

        <img
          class="subscribe-img"
          src="/img/subscribe/subscribe-desktop/subscribe-chocolate@1x.jpg"
          alt="chocolate-subscribe"
          width="538"
          height="196"
        />
      </picture>
    </div>

    <h2 class="subscribe-modal-title">
      Explore our <br />
      <span class="subscribe-span-title">new chocolate</span> first!
    </h2>
    <form>
      <input
        class="contact-form-input"
        type="email"
        name="mail"
        pattern="[a-zA-Za-яА-ЯіІїЇґҐєЄʼ]+"
        placeholder="Enter your email"
      /><button class="btn-submit" type="submit">Submit</button>
      <button class="btn-subscribe" type="submit">Subscribe</button>
    </form>
  </div>
</div>
