

<section class="section-top-sellers">
  <div class="container">
    <h2 class="title-sellers" id="top-sellers">
      <span class="title-sellers-part">TOP</span> SELLERS
    </h2>
    <div class="pic-wrapper-sellers">
      <ul class="sellers-list-pic">
      <li class="sellers-list-item sellers-pic-one">
        <picture class="sellers-picture">
          <source
            srcset="
              ../img/top-sellers/top-sellers01-desktop@1x.webp 1x,
              ../img/top-sellers/top-sellers01-desktop@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ../img/top-sellers/top-sellers01-desktop@1x.jpg 1x,
              ../img/top-sellers/top-sellers01-desktop@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../img/top-sellers/top-sellers01-tab@1x.webp 1x,
              ../img/top-sellers/top-sellers01-tab@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ../img/top-sellers/top-sellers01-tab@1x.jpg 1x,
              ../img/top-sellers/top-sellers01-tab@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <!-- MOBILE -->
          <source
            srcset="
              ../img/top-sellers/top-sellers01-mob@1x.webp 1x,
              ../img/top-sellers/top-sellers01-mob@2x.webp 2x
            "
            media="(min-width: 280px)"
            type="image/webp"
          />
          <source
            srcset="
              ../img/top-sellers/top-sellers01-mob@1x.jpg 1x,
              ../img/top-sellers/top-sellers01-mob@2x.jpg 2x
            "
            media="(min-width: 280px)"
          />

          <img
            src="../img/top-sellers/top-sellers01-mob@1x.jpg"
            alt="retina picture"
            class="picture-img"
          />
        </picture>
      </li>
      <li class="sellers-list-item sellers-pic-two">
        <picture>
          <source
            srcset="
              ../img/top-sellers/top-sellers02-desktop@1x.webp 1x,
              ../img/top-sellers/top-sellers02-desktop@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ../img/top-sellers/top-sellers02-desktop@1x.jpg 1x,
              ../img/top-sellers/top-sellers02-desktop@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../img/top-sellers/top-sellers02-tab@1x.webp 1x,
              ../img/top-sellers/top-sellers02-tab@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ../img/top-sellers/top-sellers02-tab@1x.jpg 1x,
              ../img/top-sellers/top-sellers02-tab@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />

          <!-- MOBILE -->
          <source
            srcset="
              ../img/top-sellers/image.webp    1x,
              ../img/top-sellers/image@2x.webp 2x
            "
            media="(min-width: 280px)"
            type="image/webp"
          />
          <source
            srcset="
              ../img/top-sellers/image.jpg    1x,
              ../img/top-sellers/image@2x.jpg 2x
            "
            media="(min-width: 280px)"
          />

          <img
            src="../img/top-sellers/image.jpg"
            alt="retina picture"
            class="picture-img"
          />
        </picture>
      </li>
      <li class="sellers-list-item sellers-pic-tree">
        <picture class="">
          <source
            srcset="
              ../img/top-sellers/top-sellers03-desktop@1x.webp 1x,
              ../img/top-sellers/top-sellers03-desktop@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ../img/top-sellers/top-sellers03-desktop@1x.jpg 1x,
              ../img/top-sellers/top-sellers03-desktop@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />

          <img
            src="../img/top-sellers/top-sellers03-desktop@1x.jpg"
            alt="retina picture"
            class="picture-img"
          />
        </picture>
      </li>
    </ul>
  </div>
    
    <div class="text-and-button">
      <div class="tex-top-sellers">
        <p class="text-sellers ">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
    </div>
      <div class="button-sellers">
         <button type="button" data-modal-open-bay-now class="sellers-modal-open-btn ">Buy now</button>
      </div>
      
     
    </div>
  </div>
</section>

  <!-- modal -->
<div class="buy-now-backdrop is-hidden" data-modal-bay-now>
<div class="buy-now-modal">
    <button type="button" class="buy-now-modal-class-button" data-modal-close-bay-now>
    <svg class="buy-now-modal-close-icon" width="14" height="14">
      <use href="./img/icons.svg#icon-close-subscribe"></use>
    </svg>
    </button>
        <h1 class="buy-now-form-modal-window-header">buy <span class="buy-now-form-modal-window-header-span">now</span></h1>
        <ul class="buy-now-form-modal-window-list">
            <li class="buy-now-form-modal-window-row"> 
                <picture class="buy-now-img-prod-pic">
                    <source 
                      srcset="
                      ./img/buy-now-modal/buy01-desktop-tab@1x.jpg 1x,
                      ./img/buy-now-modal/buy01-desktop-tab@2x.jpg 2x
                        "
                      media="(min-width: 768px) "
                    >
                    <source
                      srcset="
                      ./img/buy-now-modal/buy01-mob@1x.jpg 1x,
                      ./img/buy-now-modal/buy01-mob@2x.jpg 2x
                         "
                      media="(min-width: 320px) "
                    >
                    <img
                      class="buy-now-img-prod"
                      src="../img/buy-now-modal/buy01-mob@1x.jpg"
                      alt="piece"
                      width="107"
                      height="120"
                    >
                  </picture>
                <button class="buy-now-img-btg">
                    <span class="buy-now-img-span">100 g</span>
                </button>
            </li>
            <li class="buy-now-form-modal-window-row">
                <picture class="buy-now-img-prod-pic">
                    <source
                      srcset="
                        ./img/buy-now-modal/buy02-desktop-tab@1x.jpg 1x,
                        ./img/buy-now-modal/buy02-desktop-tab@2x.jpg 2x
                        "
                      media="(min-width: 768px) "
                    >
                    <source
                      srcset="
                      ./img/buy-now-modal/buy02-mob@1x.jpg 1x,
                      ./img/buy-now-modal/buy02-mob@2x.jpg 2x
                         "
                      media="(min-width: 320px) "
                    >
                    <img
                      class="buy-now-img-prod"
                      src="../img/buy-now-modal/buy02-mob@1x.jpg"
                      alt="piece"
                      width="107"
                      height="120"
                    >
                </picture>
                <button class="buy-now-img-btg">
                    <span class="buy-now-img-span">200 g</span>
                </button>
            </li>
            <li class="buy-now-form-modal-window-row">
                <picture class="buy-now-img-prod-pic">
                    <source
                      srcset="
                        ./img/buy-now-modal/buy03-desktop-tab@1x.jpg 1x,
                        ./img/buy-now-modal/buy03-desktop-tab@2x.jpg 2x
                        "
                      media="(min-width: 768px) "
                    >
                    <source
                      srcset="
                      ./img/buy-now-modal/buy03-mob@1x.jpg 1x,
                      ./img/buy-now-modal/buy03-mob@2x.jpg 2x
                         "
                      media="(min-width: 320px) "
                    >
                    <img
                      class="buy-now-img-prod"
                      src="../img/buy-now-modal/buy03-mob@1x.jpg"
                      alt="piece"
                      width="107"
                      height="120"
                    >
                </picture>
                <button class="buy-now-img-btg">
                    <span class="buy-now-img-span">300 g</span>
                </button>
        </ul>


    <form class="buy-now-modal-contact-form">
        <div class="buy-now-form-personal-information">
            <label 
                class="buy-now-per-info" 
                for="user-first-name">
                Personal Information
            </label>
            <div class="buy-now-per-info-name-div">
                <input 
                    class="buy-now-per-info-name-name"
                    id="user-first-name"
                    type="text"
                    name="user-first-name"
                    required
                    pattern="[a-zA-Zа-яА-ЯїЇіІєЄ']+"
                    placeholder="Name"
                >
                <input 
                    class="buy-now-per-info-name-name" 
                    id="user-last-name" 
                    type="text" 
                    name="user-last-name" 
                    required
                    pattern="[a-zA-Zа-яА-ЯїЇіІєЄ']+"
                    placeholder="Surname"
                >
            </div>
        </div>

        <div class="buy-now-form-personal-information">
            <label 
                class="buy-now-per-info" 
                for="user-email">
                Enter
            </label>
            <div class="buy-now-contact-form-input-wraper">
                <input class="buy-now-per-info-name-name" 
                    type="email" 
                    name="user-email" 
                    required id="user-email"
                    pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
                    placeholder="Email your email"
                    >
            </div>
        </div>

         <div class="buy-now-form-personal-information">
            <label 
                class="buy-now-per-info" 
                for="user-tel">
                Phone number
            </label>
            <div class="buy-now-contact-form-input-wraper">
                <span class="buy-now-div-for-icon">
                    <svg aria-label="іконка ін" width="24" height="18" class="buy-now-form-class-svg">
                        <use href="./img/icons.svg#icon-flag"></use>
                    </svg>
                    <span class="buy-now-form-class-span">+380</span>
                </span>
                <input class="buy-now-per-info-name-tel" 
                  type="tel" 
                  id="user-tel" 
                  name="user_tel" 
                  required
                  pattern="[0-9]{3}-[0-9]{2}-[0-9]{2}" 
                  title="xxx-xx-xx"
                  placeholder="Phone number"
                >
              </div>
        </div> 

         <div class="buy-now-form-personal-information">
            <label 
                class="buy-now-per-info" 
                for="user-bank-account">
                Card number
            </label>
            <div class="buy-now-contact-form-input-wraper">
                <input 
                    class="buy-now-per-info-name-name" 
                    type="text" 
                    id="user-bank-account" 
                    name="user_bank_account" 
                    required
                    pattern="[0-9]{16}" 
                    title="Enter card"
                    placeholder="Enter card"
                    >
                <svg 
                    aria-label="bank-icon" 
                    width="32" 
                    height="21" 
                    class="buy-now-icon-bank">
                    <use href="./img/icons.svg#icon-mastercard"></use>
                </svg>
            </div>
        </div>

        <div class="buy-now-form-comment">
            <label 
                class="buy-now-per-info" 
                for="user-comment">
                Comment
            </label>
            <textarea 
                class="buy-now-contact-from-message" 
                name="user-comment" 
                id="user-comment"
                placeholder="Enter text"></textarea>
        </div> 

        <button type="submit" class="buy-now-form-btn-submit">
            <span class="buy-now-form-btn-submit-span">
                Submit
            </span>
        </button>

    </form>
    
  </div>
</div> 
