/* =================== header mobile ===================== */

/* @media screen and (min-width: 320px) and (max-width: 375px) {
  .header-container {
    max-width: 375px;
  }
} */

/* .header-main {
  background-color: #fafafa;
} */

.header-container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 32px;
  padding-left: 32px;
  max-width: 375px;
  display: flex;

  padding-top: 20px;
  padding-bottom: 14px;
  justify-content: space-between;
}

.header-logo-wraper {
  display: flex;
}

.header-logo {
  display: flex;
  align-items: center;
}

/* ============ анімація на лого ============= */

.logo-text {
  display: inline-block;
  position: relative;
  margin-right: 4px;
  color: var(--primary-text-color-theme-light);
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  /* background-size: 300%; */
  background: linear-gradient(
    left,
    rgba(12, 12, 11, 1) 0%,
    rgba(12, 12, 11, 1) 20px,
    rgba(253, 146, 34, 1) 50%,
    rgba(12, 12, 11, 1) 80%,
    rgba(12, 12, 11, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(12, 12, 11, 1) 0%,
    rgba(12, 12, 11, 1) 20px,
    rgba(253, 146, 34, 1) 50%,
    rgba(12, 12, 11, 1) 80%,
    rgba(12, 12, 11, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200%;
  animation: animationGradient 5s linear infinite;
  -webkit-animation: animationGradient 5s linear infinite;
}

@keyframes animationGradient {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: -100% 0%;
  }
}

.logo-italic {
  display: inline-block;
  font-style: italic;
}
/* ===================== */

.logo-svg {
  display: inline-flex;
  align-items: center;
  width: 21px;
  height: 21px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-svg:hover,
.logo-svg:focus {
  width: 24px;
  height: 24px;
}

.header-nav {
  display: none;
}

.header-social-wraper {
  display: none;
}

.header-menu-button {
  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.burger-svg {
  stroke: var(--primary-text-color-theme-light);
  width: 28px;
  height: 28px;
  transition: stroke 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-svg:hover {
  stroke: var(--accent-color-orange);
}

/* -------------mobile menu-------------- */

/* .backdrop-header {
  position: fixed;
  width: 100%;
  height: 100%;
  right: 0px;
  top: 0px;
  z-index: 100;
  background-color: transparent;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateX(100%);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.mobile-menu-wraper {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 220px;
  height: 100%;
  background-color: var(--bg-color-dark-purple);
  transform: translateX(100%);
  z-index: 100;
}

.mobile-menu-wraper.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(0);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-menu-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 28px;
  height: 28px;
  background-color: transparent;
  border: none;
  padding: 0;
}

.close-menu-svg {
  width: 28px;
  height: 28px;
  stroke: var(--primary-text-color-theme-dark);
  transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-menu-svg:hover,
.close-menu-svg:focus {
  stroke: var(--accent-color-orange);
}

.header-nav-menu-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 136px;
  padding-left: 50px;
}

.header-nav-menu-link {
  position: relative;
  font-family: var(--main-font-family);
  color: var(--primary-text-color-theme-dark);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-menu-link:hover,
.header-nav-menu-link:focus {
  color: var(--accent-color-orange);
}

.header-nav-menu-link::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 2px;
  left: 0px;
  bottom: -10px;
  background-color: var(--bg-color-dark-purple);
  border-radius: 2px;
  /* transition: background-color 400ms cubic-bezier(0.4, 0, 0.2, 1); */
  background-image: linear-gradient(
    var(--accent-color-orange),
    var(--accent-color-orange)
  );
  background-position: 0%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: 0.3s;
}

.header-nav-menu-link:hover::after {
  background-color: var(--accent-color-orange);
  background-size: 100% 2px;
}

.header-social-list {
  display: flex;
  gap: 18px;
  padding-left: 22px;
  padding-bottom: 22px;
}

.header-social-svg {
  width: 20px;
  height: 20px;
  fill: var(--primary-text-color-theme-dark);
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1);
}

.header-social-svg:hover,
.header-social-svg:focus {
  fill: var(--accent-color-orange);
  transform: scale(1.2);
}

/* =================== header tablet ===================== */

@media screen and (min-width: 768px) {
  .header-container {
    max-width: 768px;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .logo-text {
    margin-right: 4px;
  }

  .burger-svg {
    width: 32px;
    height: 32px;
  }

  .header-modal-button {
    width: 32px;
    height: 32px;
  }

  /* -------------mobile menu tablet-------------- */

  .mobile-menu-wraper {
    width: 290px;
  }

  .close-menu-btn {
    width: 32px;
    height: 32px;
  }

  .close-menu-svg {
    width: 32px;
    height: 32px;
  }

  .header-nav-menu-list {
    padding-top: 156px;
    padding-left: 85px;
  }

  .header-social-list {
    padding-left: 32px;
    padding-bottom: 24px;
  }

  .header-social-svg {
    width: 24px;
    height: 24px;
  }
}

/* =================== header desktop ===================== */

@media screen and (min-width: 1200px) {
  .header-container {
    min-width: 1200px;
    padding-right: 32px;
    padding-left: 32px;
    padding-top: 24px;
    padding-bottom: 32px;
  }

  .header-logo-wraper {
    margin-right: 188px;
  }

  .logo-text {
    font-size: 18px;
  }

  .logo-svg {
    width: 24px;
    height: 24px;
  }

  .header-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  .header-nav-list {
    display: flex;
    column-gap: 24px;
  }

  .header-nav-link {
    position: relative;
    font-family: var(--main-font-family);
    color: var(--primary-text-color-theme-light);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link-underline::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--accent-color-orange);
    border-radius: 2px;
    left: 0;
    visibility: hidden;
    transform: scaleX(0);
    transition: 300ms linear;
    bottom: -7px;
  }

  .link-underline:hover::after {
    visibility: visible;
    transform: scaleX(1);
  }

  .header-nav-link:hover {
    color: var(--accent-color-orange);
  }

  .header-social-wraper {
    display: flex;
    align-items: center;
  }
  .header-social-list {
    display: flex;
    column-gap: 18px;
    padding: 0;
  }

  .header-menu-button {
    display: none;
  }

  .header-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-social-svg {
    width: 24px;
    height: 24px;
    fill: var(--primary-text-color-theme-light);
  }

  .header-modal-button {
    display: none;
  }
}

/* ================= scroll-up ================= */

@media screen and (max-width: 767px) {
  .scroll-up {
    position: fixed;
    right: 20px;
    bottom: 40px;
    z-index: 300;
    cursor: pointer;
    display: none;
  }

  .scroll-up-icon {
    width: 30px;
    height: 30px;
    fill: rgba(253, 146, 34, 0.5);
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(1);
  }

  .scroll-up-show {
    display: block;
  }

  .scroll-up-icon:hover {
    fill: var(--accent-color-orange);
    transform: scale(1.1);
  }
}

@media screen and (min-width: 768px) {
  .scroll-up {
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 300;
    cursor: pointer;
    display: none;
  }

  .scroll-up-icon {
    width: 40px;
    height: 40px;
    fill: rgba(253, 146, 34, 0.5);
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(1);
  }

  .scroll-up-show {
    display: block;
  }

  .scroll-up-icon:hover {
    fill: var(--accent-color-orange);
    transform: scale(1.1);
  }
}
