.how-it-is-made-title {
  font-family: var(--main-font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-text-color-theme-light);
  margin-bottom: 50px;
}

.how-it-is-made-title-item {
  color: var(--accent-color-orange);
}

.how-it-is-made-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .how-it-is-made-container {
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* .how-it-is-made-img {
  border-radius: 15px;
} */

.how-it-is-made-iframe-video {
  border-radius: 15px;
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .how-it-is-made-iframe-video {
    width: 280px;
    height: 600px;
  }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .how-it-is-made-iframe-video {
    width: 335px;
    height: 600px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .how-it-is-made-iframe-video {
    width: 614px;
  }
}
.how-it-is-made-list-container {
  background-color: #fff;
  border-radius: 15px;
  width: 516px;
  padding: 32px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .how-it-is-made-list-container {
    width: 614px;
    padding-bottom: 28px;
  }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .how-it-is-made-list-container {
    width: 280px;
    padding: 20px 14px 20px 14px;
  }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .how-it-is-made-list-container {
    width: 335px;
    padding: 20px 14px 20px 14px;
  }
}

.how-it-is-made-subordinate-title {
  font-family: var(--main-font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0em;
  color: var(--primary-text-color-theme-light);
  margin-right: auto;
  max-width: 350px;
  margin-bottom: 28px;
}

.how-it-is-made-list-item {
  font-family: var(--main-font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: var(--primary-text-color-theme-light);
  margin-bottom: 24px;
  margin-right: auto;
  max-width: 436px;
}

.how-it-is-made-list-item-bottom {
  margin: 0;
}

@supports (grid-template-columns: subgrid) {
  .how-it-is-made-list {
    display: grid;
    grid-template-columns: min-content 1fr;
  }
  .how-it-is-made-list .how-it-is-made-list-item {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
  }
}
.how-it-is-made-list .how-it-is-made-list-item::before {
  content: '';
  margin-right: 8px;
  width: 8px;
  height: 8px;
  display: inline-block;
  background-image: url(../img/how-its-made/mark-ellipse-list.svg);
}

/* .how-it-is-made-video {
  position: relative;
  display: block;
}

.how-it-is-made-play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 11px 11px 15px;
  width: 44px;
  height: 44px;

  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #f5f4f4;
} */
