.our-products {
  padding-top: 72px;
}

.our-products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

/* mobile */
@media screen and (max-width: 767px) {
  .our-products-container {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .our-products-wrapper {
    padding-top: 32px;
    padding-bottom: 32px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
  }
}

.our-products-title {
  font-family: var(--main-font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 32px;
  color: var(--primary-text-color-theme-light);
}

.our-products-title-span {
  font-family: var(--main-font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--accent-color-orange);
}

.products-list-content {
  padding-bottom: 8px;
}

.products-list-title {
  font-family: var(--main-font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-text-color-theme-light);
}

.products-list-text {
  font-family: var(--main-font-family);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: -0.02em;
  text-align: center;
  margin-top: 2px;
  color: rgba(17, 17, 17, 0.7);
}

.products-list-price-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--main-font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  padding: 8px 20px;
  margin-top: 18px;
  color: var(--primary-text-color-theme-light);
  background: #fafafa;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
}

.products-list-price-btn {
  font-family: inherit;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .our-products-list {
    row-gap: 18px;
  }

  .our-products-item {
    width: 270px;
    height: 364px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-products-container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    margin-left: auto;
    margin-right: auto;
  }

  .container-our-products {
    max-width: 272px;
    padding-right: 18px;
    margin-left: auto;
    margin-right: auto;
  }

  .our-products-wrapper {
    padding-top: 32px;
    padding-bottom: 32px;
    background: var(--primary-text-color-theme-dark);
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .our-products-container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 32px;
    padding-right: 32px;
  }
  .container-our-products {
    max-width: 270px;
    padding-right: 18px;
    margin-left: auto;
    margin-right: auto;
  }

  .our-products-wrapper {
    padding-top: 32px;
    padding-bottom: 32px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
  }
}

.list-img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
