.reviews-content-container {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
  padding-top: 72px;
  padding-bottom: 72px;
}

@media screen and (max-width: 767px) {
  .reviews-section {
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .reviews-content-container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .reviews-content-container {
    /* padding-top: 128px; */
    padding-bottom: 128px;
  }
}

/* title and text*/

.reviews-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fd9222;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .reviews-title {
    margin-bottom: 50px;
  }
}

.second-part-rewiews-title {
  color: #111111;
}

.reviews-description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.reviewer-name {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.16;
  color: #111111;
  margin-bottom: 24px;
}

.personal-review {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
  text-align: center;
}

/* slider styles */

.reviews-slieder-container {
  position: relative;
  overflow: hidden;
  min-height: 252px;
  /* min-width: 335px; */
  flex-direction: row;
}

@media screen and (min-width: 768px) {
  .reviews-slieder-container {
    position: relative;
    display: flex;
    overflow: hidden;
    gap: 24px;

    /* min-width: 375px; */
    flex-direction: row;
  }
}

.reviews-card {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 24px 26px 24px;
  justify-content: center;
  align-content: center;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
}

.reviews-image::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 200px;
  left: 0px;
  top: 42px;
  background-color: var(--primary-text-color-theme-dark);
  border: 1px solid rgba(17, 17, 17, 0.1);
  box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
  border-radius: 15px;
  z-index: -1;
}

.reviews-image {
  z-index: 0;
  margin-bottom: 18px;
}

.reviews-description {
  z-index: 111;
}

.reviews-card {
  z-index: 111;
  max-width: 335px;
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  .reviews-card {
    max-width: 300px;
  }
}

@media screen and (min-width: 768px) {
  .reviews-card {
    max-width: 344px;
  }
}

@media screen and (min-width: 1200px) {
  .reviews-card {
    max-width: 360px;
  }
}

.tablet-invisible {
  display: none;
}

.mobile-invisible {
  display: none;
}

/* .invisible {
  display: none;
} */

@media screen and (min-width: 768px) {
  .mobile-invisible {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .tablet-invisible {
    display: flex;
  }
}

.swiper {
  margin-bottom: 20px;
}

.slider-pagination {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .slider-pagination {
    margin-bottom: 50px;
  }
}

/* button */

.leave-review-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.22;
  color: var(--primary-text-color-theme-light);
  padding: 12px 28px;
  width: 165px;
  height: 41px;
  background-color: transparent;
  border: 1px solid var(--accent-color-orange);
  border-radius: 100px;
  transition: all 250ms ease;
  margin-top: 50px;
}

@media screen and (min-width: 768px) {
  .leave-review-button {
    width: 222px;
    height: 50px;
  }
}

.leave-review-button:hover:hover,
.leave-review-button:focus {
  color: #ffffff;
  background-color: #fd9222;
}

/* review backdrop */

.review-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--transition-standard),
    visibility var(--transition-standard);
  padding: 50px 30px;
  /* overflow-y: scroll; */
}

div.review-modal {
  position: fixed;
  background-color: #fafafa;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 32px 24px 32px 24px;
  pointer-events: auto;
  width: 311px;
  max-width: 311px;
  
  min-height: 471px;
  z-index: 30;
  overflow: auto;
}

@media screen and (min-width: 768px) {
  div.review-modal {
    min-width: 517px;
    width: 517px;
    padding: 40px;
  }
  
}


.review-modal-title {
  font-family: var(--main-font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  width: 255px;
  text-align: left;
  text-transform: uppercase;
  color: #111111;
  margin-bottom: 32px;
  word-break: break-word;
}

@media screen and (min-width: 768px) {
  .review-modal-title {
    margin-bottom: 40px;
    width: 298px;
    font-size: 24px;
    line-height: 1.17;
    word-break: break-word;
  }
  .review-modal-title br {
    display: none;
  }
}

  /* .space1 {
    display: none;
  }

  .space2 {
    display: inline-block;
  } */


.second-part-review-modal-title {
  color: #fd9222;
}

.review-backdrop-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;

  padding: 0;
  transition: all 250ms ease;
}

.review-backdrop-close-button:hover,
.review-backdrop-close-button:focus {
  fill: #f16529;
}

/* review  modal window form*/

.review-modal-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.input-description {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 45px;
  outline: transparent;
  padding-left: 24px;
  background: #fcfcfc;
  border-radius: 4px;
  color: #2e2f42;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.2);
  transition: border-color var(--transition-standard);
}

@media screen and (min-width: 768px) {
  .input-description {
    height: 45px;
  }

  .review-modal-form {
    gap: 18px;
  }
}

.phone-input-description {
  padding-left: 177px;
}

.review-phone-container {
  position: relative;
}

.phone-code {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: #000000;
}

.svg-and-phone-code {
  display: flex;
  position: absolute;
  top: 12px;
  left: 24px;
  gap: 18px;
}

.svg-and-phone-code::after {
  position: absolute;
  content: '';
  height: 22px;
  width: 3px;
  color: #000000;
  content: '';
  display: inline-block;
  top: 0px;
  left: 113px;
  background-color: rgba(64, 64, 64, 0.3);
}

@media screen and (max-width: 768px) {
  .phone-input-description {
    padding-left: 106px;
  }

  .phone-code {
    font-size: 14px;
    line-height: 1.22;
  }

  .svg-and-phone-code {
    left: 18px;
    gap: 18px;
  }

  .svg-and-phone-code::after {
    left: 78px;
  }
  .review-backdrop-close-button {
    top: 14px;
    right: 14px;
    width: 24px;
    height: 24px;
  }
}

.modal-user-message {
  display: inline-block;
  width: 100%;
  height: 91px;
  border-radius: 4px;
  background-color: transparent;
  color: #2e2f42;
  padding: 8px 16px 8px 16px;
  transition: border-color var(--transition-standard);
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.2);
  outline: transparent;
  
}
.modal-user-message:hover,
.modal-user-message:focus {
  outline: none;
  filter: none;
}

@media screen and (min-width: 768px) {
  .modal-user-message {
    height: 137px;
  }
}

.review-modal-form-submit-button {
  width: 93px;
  height: 41px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: #ffffff;
  padding: 12px 28px;
  background-color: #fd9222;
  border: none;
  border-radius: 100px;
  border-color: #fd9222;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  transition: all 250ms ease;
}

.review-modal-form-submit-button:hover,
.review-modal-form-submit-button:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}

.is-hidden {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container-reviews {
    max-width: 768px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 32px;
    padding-left: 32px;
  }
  .review-modal-form-submit-button {
    width: 117px;
    height: 45px;
    padding: 14px 40px;
  }
}

@media screen and (max-width: 767px) {
  .container-reviews {
    max-width: 375px;
    /* padding-left: 20px;
    padding-right: 20px; */
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .container-reviews {
    width: 1200px;
    padding-left: 32px;
    padding-right: 32px;
    margin-left: auto;
    margin-right: auto;
  }
  .review-modal-form-submit-button {
    width: 117px;
    height: 45px;
    padding: 14px 40px;
  }
}

/* .swiper-pagination-reviews {
  display: flex;
  column-gap: 13px;
  justify-content: center;
  bottom: -40px !important;
}

.swiper-pagination-bullet-reviews {
  display: flex;
  width: 13px;
  height: 13px;
  background-color: var(--primary-text-color-theme-light);
  border-radius: 50%;
}

.swiper-pagination-bullet-active {
  width: 28px;
  height: 13px;
  border-radius: 10px;
  background: var(--accent-color-orange);
  margin-bottom: 32px;
} */

.container-reviews {
  position: relative;
}
